html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
}



html, body {
    margin:0;
    padding:0;
    width: 1650px;
    border-width: 6px;
    border-style: solid;
    border-color:#ffffff;
    font-family: verdana, helvetica, arial, sans-serif;
    background-color: #ffffff;
}

input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

h1 {
    font-size: 5em;
    color :rgb(241, 131, 21);
    text-shadow: 5px 5px #cea77a;
    line-height: 0em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}


a {
    color: rgb(241, 93, 82);
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.text {
    margin: 7px;
    color:#082912;
}

.text div {
    -webkit-column-break-inside: avoid;
}

.error {
    margin: 7px;
    size: 16px;
    color:#cc2a0e;
}

.instr {
    margin: 7px;
    size: 24px;
    font-weight: bold;
    color:green;
}
  
/* CSS */
.button-13 {
    background-color: rgb(192, 189, 189);
    border: 1px solid #7a7a7a;
    border-radius: 8px;
    box-shadow: rgba(59, 59, 59, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}
  
.button-13:hover {
    background-color: #a3b6b6;
}
  
.button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

  
.box select {
    background-color: #696967;
    color: white;
    border: none;
    padding:4px;
    font-size: 14px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
  
.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}
  
.box select option {
    padding: 30px;
}

input[type=text] {
    background-color: #696967;
    color: white;
    border: 2px solid rgb(99, 98, 97);
    border-radius: 4px;
    width: 30px;
}

.left {
  float:left;
  width:180px;
  overflow: auto;
}

.diagsArea {
  margin:0 auto;
  width:1300px;
}

.outer {
  overflow-x: scroll;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}